.menu-link {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  height: 40px;
  font-size: 1.6rem;
  padding: 0 16px 0 24px;
  gap: 12px;
  font-weight: 700;
  transition: 0.3s ease-out;
  position: relative;
  &:hover {
    background: #fff2e7;
    .menu-link-text {
      color: #ff7506 !important;
    }
    .iconHover {
      color: #ff7506 !important;
    }
  }
  &-text {
    line-height: 2.4rem;
    color: #7e7d88;
  }
  &:hover .hover-menu {
    display: block;
  }
  .hover-menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 200px;
    height: 120px;
    background-color: #ffffff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    display: none;
    // display: block;
    z-index: 10;
    &-link {
      display: flex;
      width: 100%;
      height: 40px;
      padding: 8px;
      color: #7e7d88;
      &:hover {
        background: #fff2e7;
        color: #ff7506;
      }
    }
  }
}
.active {
  background: #ff7506;
  .menu-link-text {
    color: white !important;
  }
  &:hover {
    background: #ff7506;
    .menu-link-text {
      color: white !important;
    }
  }
}
