@import "../varible";
.layout-default {
  height: 100vh;
  background: #f9f6f4;
  // overflow: hidden;
  .layout-default-sider {
    background-color: #ffffff;
    .ant-layout-sider-children {
      height: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
    }
  }
  .layout-default-content {
    background-color: #f6f6f6;
  }
}

.title {
  color: $color-text !important;
  font-size: 1.6rem !important;
}
.notify {
  right: 10px;
  top: 65px;
  border-radius: 10px;
  overflow: hidden;
  &-title {
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
  }
  &-content {
    height: 355px;
    max-height: 355px;
    overflow-x: auto;
    padding: 0 10px;

    /* Thanh cuộn ảo */
    &::-webkit-scrollbar {
      width: 5px; /* Độ rộng của thanh cuộn */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffc89b; /* Màu của thanh cuộn */
      border-radius: 4px; /* Bo góc của thanh cuộn */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #bf5805; /* Màu của thanh cuộn khi hover */
    }

    &::-webkit-scrollbar-track {
      background-color: transparent; /* Màu của nền track */
    }
  }
  &-content-wrapper {
    padding: 10px 5px;
    &-text {
      font-weight: 600;
      font-size: 0.9rem;
      color: #bf5805;
    }
    &-time {
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
}
