.equipment-wrapper {
  width: 1000px;
  border-radius: 12px;
  padding: 16px 10px 24px 24px;
  margin: 10px 2rem 0 2rem;
  background-color: #ffffff;
  &-title {
    font-size: 1.2rem !important;
    margin: 0;
    color: #ff7506 !important;
    font-weight: 700;
  }
  .equipment-create-group {
    display: flex;
    flex-direction: column;
    .equipment-input-label {
      margin-bottom: 5px;
      font-size: 0.9rem;
      font-weight: 600;
    }
    .list-service {
      list-style: none;
      width: 97.6%;
      height: 70px;
      max-height: 70px;
      border: 1px solid #ffac6a;
      border-radius: 6px;
      margin-top: 0;
      padding: 5px 0 5px 10px;
      gap: 10px;
      &-item {
        min-width: 135px;
        background-color: #ffac6a;
        padding: 3px 10px;
        height: 28px;
        border-radius: 12px;
        gap: 10px;
        span {
          cursor: pointer;
        }
      }
    }
  }
  .equipment-select-create {
    .ant-select-selector {
      height: 38px;
      padding: 3px 11px;
      input {
        height: 100% !important;
        display: flex;
        align-items: center;
      }
    }
  }
}

/* Add your global styles here */

.text-container {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expand {
  white-space: normal;
}

.show-more {
  cursor: pointer;
  color: blue;
  margin-left: 8px;
}

.custom-link-table {
  color: blue;
  text-decoration: none;
  margin-left: 8px;
}

.equipment-select {
  .ant-select-selector {
    height: 38px !important;
    padding: 3px 11px !important;
    input {
      height: 100% !important;
      display: flex;
      align-items: center;
    }
  }
}

.search-antd {
  input {
    height: 38px !important;
    border-right: none;
    &:focus {
      box-shadow: none;
      border-color: none !important;
    }
  }
  button {
    height: 38px !important;
    border-left-color: transparent;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.45);
    }
    &:focus {
      box-shadow: none;
    }
  }
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-input-search .ant-input:hover,
:where(.css-dev-only-do-not-override-fpg3f5).ant-input-search .ant-input:focus {
  border-color: #d9d9d9 !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  border-color: #d9d9d9 !important;
  border-left-color: transparent !important;
}
:where(.css-dev-only-do-not-override-fpg3f5).ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  color: #ff7506 !important;
}
